<div class="page-style">
    <div class="row justify-content-center">
        <mat-form-field class="row page-font col-10 col-lg-2" appearance="fill">
            <mat-label class="label-style">Username</mat-label>
            <input class="input-field" matInput required #username placeholder="Inserisci username">
        </mat-form-field>
    </div>
    <div class="row justify-content-center">
        <mat-form-field class="row page-font col-10 col-lg-2" appearance="fill">
            <mat-label class="label-style">Password</mat-label>
            <input class="input-field" type="password" matInput required #password placeholder="Inserisci password">
        </mat-form-field>
    </div>
    <div class="row justify-content-center">
        <div class="row col-5 col-lg-1">
            <button class="btn clickable btn-success buttonApp">Login</button>
        </div>
    </div>
</div>