@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.overlay {
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.loader-spinner {
  circle {
    stroke: blueviolet;
  }
}


.page-style {
  padding: 10px;
}

.label-style {
  color: blueviolet;
  font-size: 30px !important;
}

mat-form-field {
  &.mat-form-field, &.mat-form-field-appearance-legacy {
    .mat-form-field-underline {
      height: 0;

      .mat-form-field-ripple {
        display: none;
      }
    }

    &.border {
      .mat-input-element {
        border: 1px solid;
        padding: 8px 0;
        border-radius: 2px;
      }
    }

    mat-label {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
    }

    .mat-form-field-infix {
      .mat-select {
        border: 1px solid rgba(0, 0, 0, 0.33);
        padding: 8px;
        background: #fff;

        .mat-select-arrow-wrapper {
          border-left: 1px solid;
          padding-left: 8px;
        }

        .mat-select-arrow {
          color: #005588;
        }
      }
    }
  }
}

@font-face {
    font-family: 'title';
    src: url('assets/fonts/Blantick\ Script.ttf')
}

@font-face {
    font-family: 'lastwin-app';
    src: url('assets/fonts/PinkChicken-Regular.ttf')
}

.buttonApp {
  width: 100%;
  height: 50px;
  background: blueviolet !important;
  border-radius: 15px;
  font-family: lastwin-app, sans-serif;
  font-size: 25px;
}

.page-font {
  font-family: lastwin-app, sans-serif;
  text-align: center;
}

.input-field {
  height: 75px !important;
  font-size: 30px !important;
}

.clickable:hover {
  cursor: pointer;
}