.panel-heading {
    background-color: #FFF;
}

.router-outlet {
    padding-bottom: 15px;
}

.title-font {
    font-family: title, sans-serif;
    text-align: center;
    font-size: 100px;
    margin: 0 20px;
}

.page-font {
    font-size: 30px !important;
    height: 75px !important;
    font-family: lastwin-app, sans-serif;
    text-align: center;
}