<div mat-dialog-title class="title-dialog page-font">Registrazione</div>
<form #registerForm="ngForm">
    <div mat-dialog-content class="container">
        <div class="row justify-content-evenly">
            <mat-form-field class="col-10 col-lg-5" appearance="fill">
                <mat-label class="page-font">Username</mat-label>
                <input id="username" name="username" class="page-font" matInput matNativeControl required #username placeholder="Username" [(ngModel)]="registerModel.username">
            </mat-form-field>
            <mat-form-field class="col-10 col-lg-5" appearance="fill">
                <mat-label class="page-font">Email</mat-label>
                <input id="email" name="email" class="page-font" matInput matNativeControl required #email placeholder="Email" type="email" [(ngModel)]="registerModel.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <mat-error class="page-font-error" *ngIf="registerModel.email">Formato mail non valido</mat-error>
            </mat-form-field>
        </div>
        <div class="row justify-content-evenly">
            <mat-form-field class="col-10 col-lg-5" appearance="fill">
                <mat-label class="page-font">Password</mat-label>
                <input id="password" name="password" class="page-font" matInput matNativeControl required #password placeholder="Password" type="password" [(ngModel)]="registerModel.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$">
                <mat-error class="page-font-error error-margin" *ngIf="registerModel.password">Formato non corretto</mat-error>
            </mat-form-field>
            <mat-form-field class="col-10 col-lg-5" appearance="fill">
                <mat-label class="page-font">Conferma Password</mat-label>
                <input id="confirmPassword" name="confirmPassword" class="page-font" matInput matNativeControl required #confirmPassword placeholder="Conferma Password" type="password" [(ngModel)]="registerModel.confirmPassword" pattern="{{registerModel.password}}">
                <mat-error class="page-font-error error-margin" *ngIf="registerModel.confirmPassword && registerModel.confirmPassword !== registerModel.password">Le password inserite non coincidono</mat-error>
            </mat-form-field>
        </div>
        <div class="row justify-content-evenly submit-form">
            <button mat-flat-button type="submit" cdkFocusInitial color="indigo" class="btn clickable btn-success confirm col-4 col-lg-2 page-font" [disabled]="registerForm.invalid" (click)="signup()">Conferma</button>
        </div>
    </div>
</form>
<div *ngIf="loading" class="overlay">
    <div class="center">
        <mat-progress-spinner mode="indeterminate" class="loader-spinner" diameter="50"></mat-progress-spinner>
    </div>
</div>