.result-dialog {
    text-align: center;
    color: indigo;
    height: 100px;
}

.message-dialog {
    text-align: center;
    color: indigo;
    font-size: 16px;
    font-family: lastwin-app, sans-serif;
}

.result-icon {
    font-size: 60px;
}